.TodoForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.search-label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    padding: 15px;
    cursor: text;
    margin-right: 40px;
  }

  .cssbuttons-io-button {
    padding: 10px 15px; 
    font-size: 15px;
    border-radius: 8px; 
  }