.App-header {
  background-color: #4a4e69;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin); 
  color: white;
  padding: 20px; 
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 20px auto;}
.todo-list-2 {
  background: white;
  padding: 30px; 
  border-radius: 8px; 
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); 
  max-width: 15000px; 
  margin: 20px auto; 
}
.filter-button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button-active {
  background-color: #4a4e69;
  color: white;
}